body {
    margin: 0
}

html {
    background-color: #E6E6E9;
    color: #1E4F8E;
    font-family: "microsoft Yahei", helvetica;
}

header h1 {
    text-align: center;
    margin-bottom: 0em;
    font-size: 4.5em;
}

section {
    background-color: #F0BD17;
    max-width: 75%;
    padding: 1em;
    margin: 1.5em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

section button {
    background-color: #067FD6;
    padding: 1em;
    margin: 0.5em;
    color: white;
    padding: -3px;
    font-size: 2em;
    border-style: none;
}

main section button {
    background-color: #067FD6;
    border-bottom: .25em solid #1E4F8E;
    color: white;
    text-decoration: none;
    display: block;
    margin-right: auto;
    font-size: 1.5em;
    margin-left: 1em
}

section button {
    border-bottom: .25em solid #1E4F8E;
}

main section:first-child {
    margin-top: 3em
}

header img {
    max-width: 30%;
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}


section button:hover {
    background-color: #1E4F8E;
    transition: .5s ease;
    border-bottom: .25em solid #1E4F8E;
}

section h1 {
    font-size: 3em;
    margin-top: .5em;
    margin-left: .5em;
    margin-bottom: 0;

}

main section section {
    display: flex;
    overflow-x: scroll;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    margin-top: 0;
}

main section section button {
    margin-right: .5em;
    font-size: 2em;
    margin-left: 0;
}

main form {
    display: block;
    max-width: 75%;
    font-size: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: #F0BD17;
    padding: .3em;
    padding-left: .5em;
}

form input {
    display: block;
    width: 12em;
    height: 1.3em;
    font-size: .5em;
    margin-right: auto;
    margin-bottom: 1.5em;
    padding-left: .2em;
}

form button {
    background-color: #067FD6;
    padding: .4em;
    color: white;
    padding: .3em;
    font-size: 1em;
    border-style: none;
    border-bottom: .25em solid #1E4F8E;
    display: block;
    margin-right: auto;
    margin-bottom: .5em
}

form button:hover {
    background-color: #1E4F8E;
    transition: .5s ease;
    border-bottom: .25em solid #1E4F8E;
}

header h2 {
    font-size: 8em;
    text-align: center;
    margin-top: .2em;
}

header {
    background-color: white;
    margin-top: 0;
    max-width: 100%;
}

body section button {
    margin-top: 1em
}

body > section > section > button {
    background-color: #F0BD17;
    border-bottom-color: #D2A517;
    margin-left: 0;
    color: #1E4F8E;
    margin-top: 0;
}

body > section > section > button:hover {
    background-color: #D2A517;
    transition: .5s ease;
    border-bottom: .25em solid #D2A517;

}

body > section > section {
    display: flex;
    overflow-x: scroll;
    margin: 0;
    max-width: 100%;
}

Main > section > button {
    background-color: #E6B517;
    border-bottom-color: #D2A517;
    margin-left: 0;
    margin-left: .7em;
    color: #1E4F8E
}

main > section > button:hover {
    background-color: #D2A517;
    transition: .5s ease;
    border-bottom: .25em solid #D2A517;
}
